# General
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.env
firepit-log.txt
ios_backup/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code - Uncomment if you wish to ignore
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Specific project folders
boost_ballistics/build/
signUpForm/firebase-tools-instant-win.exe
firebasetutorial/android/app/PowerShell-7.2.6-win-x64.msi

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
/android/.gradle/
/android/.kotlin/
/android/app/.cxx/

# Local Firebase configuration. Provide these per environment.
android/app/google-services.json
android/app/client_secret*.json
ios/GoogleService-Info*.plist
ios/Runner/GoogleService-Info*.plist
macos/Runner/GoogleService-Info*.plist
